h1, footer {
    text-align: center;
}
footer {
    margin-top: 25px;
}
footer a, footer a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
footer a strong, h1 {
    color: #2A2A68;
}
section {
    display: table;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px dotted #555;
}
section h2 {
    margin-top: 0;
    padding: 10px;
    border-bottom: 1px dotted #555;
    background-color: #ABABE0;
    text-align: center;
}
section dt {
    margin-left: 20px;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    font-family: Fixed, monospace;
}
section dd {
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
}
section dd ul {
    margin-top: 5px;
}
